#mapKeyLegend {
  position: absolute;
  margin: 10px;
  width: 200px;
  background-color: white;
  padding: 0px;
  padding-top: 15px;
  top: 60px;
  left: 5px;
  z-index: 1;
  border-radius: 5px;
  display: none;
}

.dropDownList {
  margin-bottom: 10px;
  padding-left: 15px;
}

.gradContainer {
  padding: 0px;
  margin: 15px;
} 

.row {
  width: 100%;
  display: inline-block;
  padding: 5px;
}

.label {
  display: inline;
}

.label p {
  display: inline;
  padding-left: 15px;
  font-size: 22px;
}

.gradBox {
  width: 16px;
  height: 16px;
  display: inline-block;
  border-radius: 25px;
  border: 1px solid black;
}
