#layerConsole {
  position: absolute;
  margin: 10px;
  width: 250px;
  background-color: white;
  padding: 0px;
  top: 60px;
  left: 5px;
  z-index: 1;
  display: none;
}

h1 {
  font-size: 20px;
  line-height: 30px;
}

h2 {
  font-size: 15px;
}

.session {
  margin-bottom: 20px;
}

.row {
  height: 12px;
  width: 100%;
}

.colors {
  background: linear-gradient(
    to right,
    #2dc4b2,
    #3bb3c3,
    #669ec4,
    #8b88b6,
    #a2719b,
    #aa5e79    
  );
  margin-bottom: 5px;
}

.label {
  width: 15%;
  display: inline-block;
  text-align: center;
}