/*
FIU colors
blue       #081E3F
gold       #FFCC00
*/

/* layer console */
#mapConsole {
  position: absolute;
  width: auto;
  margin: 10px;
  padding: 0px;
  top: 60px;
  left: 5px;
  z-index: 1;
  display: none;
}

/* items */
.items {
  overflow: hidden;
  background-color: #081E3F;
  color: white;
  border-radius: 5px;
}

/* items a */
.items a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* items a when hover */
.items a:hover {
  background-color: white;
  color: #081E3F;
}
